:root {
  --dse-base-color: #017596;
}

/* needed for interactive map in listplace.xsl */
div#map {
  height: 50vh;
}

/** Match bootstrap navlink focus outline color. */
:focus-visible {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

header {
  border-bottom: solid;
  border-bottom-color: var(--dse-base-color);
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-primary {
  --bs-btn-bg: var(--dse-base-color);
  --bs-btn-hover-bg: #017fa1;
}
